page-personal-information {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: bottom;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: rgb(20, 19, 19);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: bottom;
    top: 52%;
    width: 100%;
    color: rgb(20, 19, 19);
  }

}